// SPDX-License-Identifier:     GPL-2.0
/*
 * Copyright (c) 2019-2024 Hailo Technologies Ltd. All rights reserved.
 */

/dts-v1/;
#include "hailo10-base.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
    memory {
        device_type = "memory";
        reg = <0x00000000 0x80000000 0x00000001 0x00000000>;
    };
};

&i2c_1 {
    status = "ok";
    ina231_3v3_pci: 3v3_pci@40 {
        status = "disabled";
        compatible = "ti,ina231_precise";
        reg = <0x40>;
        shunt-resistor = <10000>;
        max-current = <2500>;
    };

    regulator_0p8v: regulator-0p8v@43 {
        status = "disabled";
        compatible = "ti,tps62872";
        reg = <0x43>;
        regulator-name = "+0.8V";
        regulator-min-microvolt = <400000>;
        regulator-max-microvolt = <1037500>;
        regulator-initial-mode = <2>;
    };

    /* 64 KiB EEPROM  */
    eeprom: eeprom-atmel-24cs64@50 {
        status = "disabled";
        compatible = "atmel,24cs64";
        reg = <0x30>;
    };
};

&xrp {
    status = "okay";
};

&xrp_reserved {
    status = "okay";
};

&sdio1 {
    status = "okay";
    non-removable;
    phy-config {
		card-is-emmc = <0x1>;
        	cmd-pad-values = <0x2 0x2 0x1 0x1>; // txslew_ctrl_n, txslew_ctrl_p, weakpull_enable, rxsel
        	dat-pad-values = <0x2 0x2 0x1 0x1>; // txslew_ctrl_n, txslew_ctrl_p, weakpull_enable, rxsel
        	rst-pad-values = <0x2 0x2 0x1 0x1>; // txslew_ctrl_n, txslew_ctrl_p, weakpull_enable, rxsel
        	clk-pad-values = <0x2 0x2 0x0 0x0>; // txslew_ctrl_n, txslew_ctrl_p, weakpull_enable, rxsel
        	sdclkdl-cnfg = <0x0 0x32>; //extdly_en, cckdl_dc
        	drive-strength = <0xC 0xC>; //pad_sp, pad_sn
        };
};

&eth {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_eth>;
};

&qspi {
    status = "okay";
    spi0_flash0: flash@0 {
        /* values for MT25QU01G */
        spi-max-frequency = <6250000>; /* 90Mhz in DTR, 166Mhz in STR */
        cdns,read-delay = <7>;
        cdns,tshsl-ns = <30>;
        cdns,tsd2d-ns = <30>;
        cdns,tchsh-ns = <5>;
        cdns,tslch-ns = <3>;
    };
};

&reserved_memory {
    hailo_cma: hailo,cma {
        status = "okay";
    };

    /* set hailort0,CMA area to 0.5GiB, global ranges: 4GB -> 4.5GB, DDR ranges: 2GB -> 2.5GB)*/
    hailort_cma_0: hailort0,cma {
        status = "okay";
        compatible = "shared-dma-pool";
        reusable;
        size = <0x0 0x20000000>;
        linux,cma-hailo;
        alloc-ranges = <0x1 0x00000000 0 0x20000000>;
    };
    /* set hailort0,CMA area to 0.5GiB, global ranges: 4.5GB -> 5GB, DDR ranges: 2.5GB -> 3GB)*/
    hailort_cma_1: hailort1,cma {
        status = "okay";
        compatible = "shared-dma-pool";
        reusable;
        size = <0x0 0x20000000>;
        linux,cma-hailo;
        alloc-ranges = <0x1 0x20000000 0 0x20000000>;
    };
    /* set hailort0,CMA area to 0.5GiB, global ranges: 5GB -> 5.5GB, DDR ranges: 3GB -> 3.5GB)*/
    hailort_cma_2: hailort2,cma {
        status = "okay";
        compatible = "shared-dma-pool";
        reusable;
        size = <0x0 0x20000000>;
        linux,cma-hailo;
        alloc-ranges = <0x1 0x40000000 0 0x20000000>;
    };
    /* set hailort0,CMA area to 0.5GiB, global ranges: 5.5GB -> 6GB, DDR ranges: 3.5GB -> 4GB)*/
    hailort_cma_3: hailort3,cma {
        status = "okay";
        compatible = "shared-dma-pool";
        reusable;
        size = <0x0 0x20000000>;
        linux,cma-hailo;
        alloc-ranges = <0x1 0x60000000 0 0x20000000>;
    };
    /* set hailort0,CMA area to 0.5GiB, global ranges: 6GB -> 6.5GB, DDR ranges: 4GB -> 4.5GB)*/
    hailort_cma_4: hailort4,cma {
        status = "okay";
        compatible = "shared-dma-pool";
        reusable;
        size = <0x0 0x20000000>;
        linux,cma-hailo;
        alloc-ranges = <0x1 0x80000000 0 0x20000000>;
    };
    /* set hailort0,CMA area to 0.5GiB, global ranges: 6.5GB -> 7GB, DDR ranges: 4.5GB -> 5GB)*/
    hailort_cma_5: hailort5,cma {
        status = "okay";
        compatible = "shared-dma-pool";
        reusable;
        size = <0x0 0x20000000>;
        linux,cma-hailo;
        alloc-ranges = <0x1 0xA0000000 0 0x20000000>;
    };
    /* set hailort0,CMA area to 0.5GiB, global ranges: 7GB -> 7.5GB, DDR ranges: 5GB -> 5.5GB)*/
    hailort_cma_6: hailort6,cma {
        status = "okay";
        compatible = "shared-dma-pool";
        reusable;
        size = <0x0 0x20000000>;
        linux,cma-hailo;
        alloc-ranges = <0x1 0xC0000000 0 0x20000000>;
    };
    /* set hailort0,CMA area to 0.5GiB, global ranges: 7.5GB -> 8GB, DDR ranges: 5.5GB -> 6GB)*/
    hailort_cma_7: hailort7,cma {
        status = "okay";
        compatible = "shared-dma-pool";
        reusable;
        size = <0x0 0x20000000>;
        linux,cma-hailo;
        alloc-ranges = <0x1 0xE0000000 0 0x20000000>;
    };
    /* set hailort0,CMA area to 0.5GiB, global ranges: 8GB -> 8.5GB, DDR ranges: 6GB -> 6.5GB)*/
    hailort_cma_8: hailort8,cma {
        status = "okay";
        compatible = "shared-dma-pool";
        reusable;
        size = <0x0 0x20000000>;
        linux,cma-hailo;
        alloc-ranges = <0x2 0x00000000 0 0x20000000>;
    };
    /* set hailort0,CMA area to 0.5GiB, global ranges: 8.5GB -> 9GB, DDR ranges: 6.5GB -> 7GB)*/
    hailort_cma_9: hailort9,cma {
        status = "okay";
        compatible = "shared-dma-pool";
        reusable;
        size = <0x0 0x20000000>;
        linux,cma-hailo;
        alloc-ranges = <0x2 0x20000000 0 0x20000000>;
    };
    /* set hailort0,CMA area to 0.5GiB, global ranges: 9GB -> 9.5GB, DDR ranges: 7GB -> 7.5GB)*/
    hailort_cma_10: hailort10,cma {
        status = "okay";
        compatible = "shared-dma-pool";
        reusable;
        size = <0x0 0x20000000>;
        linux,cma-hailo;
        alloc-ranges = <0x2 0x40000000 0 0x20000000>;
    };
};

&pinctrl {

    pinctrl_eth: eth {
        pins = "eth_rgmii_tx_clk",
               "eth_rgmii_tx_ctl",
               "eth_rgmii_txd_0",
               "eth_rgmii_txd_1",
               "eth_rgmii_txd_2",
               "eth_rgmii_txd_3";
        drive-strength = <2>;
    };
};

&gpio0 {
    gpio-ranges = <&pinctrl 0 0 16>;

    gpio-line-names =
        "gpio_in_out_0",
        "gpio_in_out_1",
        "gpio_in_out_2",
        "gpio_in_out_3",
        "gpio_in_out_4",
        "boot_rom_led",
        "gpio_in_out_6",
        "gpio_in_out_7",
        "gpio_in_out_8",
        "sdio1_reset", /* Currently not connected */
        "rmii_rst_n",
        "gpio_in_out_11",
        "gpio_in_out_12",
        "gpio_in_out_13",
        "gpio_in_out_14",
        "gpio_in_out_15";
};

&gpio1 {
    gpio-ranges = <&pinctrl 0 16 16>;

    gpio-line-names =
        "gpio_in_out_16",
        "gpio_in_out_17",
        "gpio_in_out_18",
        "ina_alert_n",
        "gpio_in_out_20",
        "gpio_in_out_21",
        "gpio_in_out_22",
        "gpio_in_out_23",
        "gpio_in_out_24",
        "gpio_in_out_25",
        "gpio_in_out_26",
        "gpio_in_out_27",
        "gpio_in_out_28",
        "gpio_in_out_29",
        "gpio_in_out_30",
        "gpio_in_out_31";
};
